<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zac Harless' Stats</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="171717">

    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' href='static/stats.css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>

  <body>

    <div class="stats">
      <div class="wowStats">
        <div class="pure-g">
          <div class="pure-u-10-24">
            <div id="wowStats_header">
              <div id="wowStats_character">{{ character.title }}</span></div>
              <div id="headerSpace"><img class="centerImg sectionImageCircle" src="http://render-api-us.worldofwarcraft.com/static-render/us/{{ character.profilePic }}"/></div>
              <div id="wowStats_charInfo">Level {{ character.level }} {{ character.race }} {{ character.class }} on {{ character.realm }}</div>
            </div>
          </div>

          <div class="pure-u-14-24">
            <div class="wowStats_stats">
              <div class="noise">
                  <span class="stat">{{ character.name }}</span> has achieved a total of <span class="stat">{{ character.achievements }}</span> achievement points  over the last 11 years.  <span class="stat_pronoun_up">{{ character.pronoun }}</span> also has a prized collection of <span class="stat">{{ character.mounts }}</span> mounts
                  and <span class="stat">{{character.pets}}</span> pets.  <span class="stat">{{ character.name }}</span> has gained the favor of <span class="stat">{{ character.exaltedFactions }}</span> factions over the course of the <span class="stat">{{character.miscStats.totalQuests}}</span> quests (including dailies!) and <span class="stat">9999</span> dungeons/raids he's completed (as well as countless hours of mob grinding).
                  Some other interesting statistics include:
                  <ul>
                    <li><span class="stat">{{character.miscStats.healthstonesUsed}}</span> healthstones and <span class="stat">{{character.miscStats.rezdBySoulstone}}</span> soulstones used</li>
                    <li><span class="stat">9999</span> total kills and <span class="stat">9999</span> total deaths</li>
                    <li><span class="stat">9999</span> total fish caught</li>
                    <li><span class="stat">{{character.miscStats.flightPathsTaken}}</span> total flight paths taken</li>
                    <li><span class="stat">999</span> times hearthed</li>
                    <li><span class="stat">{{character.miscStats.garrisonMissions}}</span> Garrison Missions completed</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="section2">
        <p>Stat 2</p>
      </div>

      <div class="section3">
        <p>Stat 3</p>
      </div>
  </div>

  </body>
</html>
